server:
  port: 8086
spring:
  application:
    name: subscription-service
  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${POSTGRES_DB:subscription-tracker}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:password}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 2
      connection-timeout: 20000
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  flyway:
    enabled: true
    clean-disabled: false
    validate-on-migrate: false
    baseline-on-migrate: true
    locations: classpath:db/migration

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: INFO
    com.keyn_bello.subscription_tracker: INFO

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics
  endpoint:
    health:
      show-details: when-authorized
  health:
    db:
      enabled: true

# Service Discovery Configuration
services:
  auth-service:
    url: ${AUTH_SERVICE_URL:http://auth-service:8081}

---
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    show-sql: true
  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:${DB_PORT:5432}/${POSTGRES_DB:subscription-tracker}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:password}
logging:
  level:
    com.keyn_bello.subscription_tracker: DEBUG

---
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    show-sql: false
logging:
  level:
    root: WARN
    com.keyn_bello.subscription_tracker: INFO
management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  endpoint:
    health:
      show-details: never